* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

.display {
  display: none;
}

.error {
  margin-top: 10px;
  background-color: red;
  padding: 10px;
  color: white;
}

.success {
  margin-top: 10px;
  background-color: green;
  padding: 10px;
  color: white;
}

button,
input {
  padding: 5px;
}
